---
import Layout from '~/layouts/PageLayout.astro';
import { config } from '../config';

const metadata = {
  title: 'Disclaimer',
};
---

<Layout metadata={metadata}>
  <section class="relative px-4 md:px-6 py-12 md:py-16 lg:py-10 text-default max-w-7xl mx-auto prose-lg prose-headings:font-bold">
    <h1 class="text-center text-xl md:text-2xl">Disclaimer </h1>
    <div class="txt-disclaimer">
      <p><strong>{config.site.name} is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.</strong></p>
      <p>The vast majority of products that we review can be found on&nbsp;Amazon. You’ll notice that we include Amazon links to many of the products we discuss in our articles. </p>
      <p>Anytime you click on one of those links and proceed to make a purchase,&nbsp;<a href="https://affiliate-program.amazon.com/">we receive a small percentage of the purchase price in the form of a commission directly from Amazon</a>.</p>
      <p><strong>{config.site.name} is <em>never </em>directly compensated to provide positive opinions on products, services, websites, and various other topics.</strong></p>
      <p>The views and opinions expressed on this website are purely those of our authors. If we claim or appear to be experts on a certain topic or product or service area, we will only endorse products or services that we believe, based on our expertise, are worthy of such endorsement.</p>
      <p>Any product claim, statistic, quote, or other representation about a product or service should be verified with the manufacturer or provider.</p>
      <p>The content on {config.site.name} may contain advertisements, sponsored content, affiliate links, or other forms of monetization. If we have been compensated for content, you’ll see a disclosure clearly calling this out.</p>
      <h3 id="Contact" class="wp-block-heading">Contact</h3>
      <p>If you have any questions regarding this policy, or your dealings with our website, <a href=`${config.site.site}/contact` style="text-decoration: underline;">please contact us</a>.</p>
      </div>
    
  </section>
</Layout>