---
const { products } = Astro.props;
import Button from './ui/Button.astro';
import Image from './common/Image.astro';
const newSuffix200 = '_SR300,200';
const newSuffix460 = '_SR460,460';
import { config } from '../config';
const amzUrl = 'https://www.amazon.com/dp';
//console.log(products.Products[0].Name);
const productNameFist = products.Products[0].Name;

function simpleHash(input) {
    let hash = 0;
    for (let i = 0; i < input.length; i++) {
        const char = input.charCodeAt(i);
        hash = ((hash << 5) - hash) + char;
        hash = hash & hash; // Convert to 32bit integer
    }
    return Math.abs(hash);
}

function calculateRating(productNameFist) {
    const baseRating = 4.3;
    const hashValue = simpleHash(productNameFist);
    const rangeMin = 0.3, rangeMax = 0.7;
    const range = rangeMax - rangeMin;
    const mappedValue = rangeMin + (hashValue % 100 / 100) * range;
    const finalRating = baseRating + mappedValue;
    return Number(finalRating.toFixed(1));
}
---

<div class="introduce">
  <p class="!mt-0 text-base suojin2">{products.Introduce}</p>
</div>
<div class="flex flex-col sm:flex-row justify-between max-w-3xl mx-auto mt-0 mb-6">
  <div class="min-w-full divide-y divide-gray-200">
    <h3 class="!mt-2">Overview</h3>
    <div class="border-b-2 border-gray-100">
      <!-- Changes start here: Added grid settings for small screens -->
      {
        products.Products.map((product, index) => (
          <div
            class="flex flex-wrap py-2 border-t-2 border-gray-100 md:flex-nowrap md:py-2 items-center h-full text-center"
            itemscope={index === 0 ? true : undefined}
            itemtype={index === 0 ? 'http://schema.org/Product' : undefined}
          >
            <div class="flex-none order-first w-1/3 md:w-32 md:order-0">
              <a
                href={`${amzUrl}/${product.Asin}?tag=${config.site.aws_Tagid}`}
                target="_blank"
                rel="nofollow noreferrer sponsored"
              >
                <Image
                  src={product.Image.replace('.jpg', `${newSuffix200}.jpg`)}
                  width={150}
                  alt={product.Name}
                  loading="lazy"
                  style="margin-top: 0.5em;margin-bottom: 0.5em;"
                  decoding="async"
                  itemprop={index === 0 ? 'image' : undefined}
                />
              </a>
            </div>
            <div class="flex flex-col w-2/3 md:flex-row md:order-1 grow order-0r">
              <div class="md:ml-4 md:grow">
                <div class="text-xs mb-2 font-medium" itemprop={index === 0 ? 'description' : undefined}>
                  {product.Slogan}
                </div>
                <a
                  class="hover:underline text-xs font-bold"
                  href={`${amzUrl}/${product.Asin}?tag=${config.site.aws_Tagid}`}
                  target="_blank"
                  rel="nofollow noreferrer sponsored"
                >
                  <span itemprop={index === 0 ? 'name' : undefined}>{product.Name}</span>
                </a>
                {index === 0 && (
                  <div
                    itemprop="aggregateRating"
                    itemscope
                    itemtype="http://schema.org/AggregateRating"
                    style={{ display: 'none' }}
                  >
                    <meta itemprop="ratingValue" content={calculateRating(productNameFist)} />
                    <meta itemprop="reviewCount" content="5" />
                  </div>
                )}
              </div>
              <div class="my-4 w-32 text-xs font-bold tracking-wide md:flex-none md:ml-2 hover:underline m-auto">
                <a class="" href={`#${product.Asin}`} rel="nofollow sponsored">
                  Jump to Details
                  <svg
                    class="w-3 h-3 ml-1 mb-1 inline-block"
                    width="12"
                    height="13"
                    viewBox="0 0 12 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M5.41671 9.84171V0.75H6.58338V9.84171L10.2542 6.17085L11.0792 6.99581L6.00004 12.075L0.920898 6.99581L1.74586 6.17085L5.41671 9.84171Z"
                      fill="black"
                    />
                  </svg>
                </a>
              </div>
            </div>

            <div class="order-2 whitespace-nowrap md:flex-none md:w-44 grow">
              <Button
                rel="nofollow noreferrer sponsored"
                variants="btn-secondary"
                class="md:w-auto w-full bg-[#FF9900] hover:bg-[#cc7a00] text-gray-900 font-bold p-2 text-xs leading-none no-underline"
                icon="tabler:shopping-bag"
                href={`${amzUrl}/${product.Asin}?tag=${config.site.aws_Tagid}`}
                text="Shop on Amazon"
              />
            </div>
          </div>
        ))
      }
    </div>
    <!-- End of grid layout for small screens -->
  </div>
</div>

<div class="justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 sm:items-center">
  {
    products.Products.map((product) => (
      <div class="flex flex-col space-y-4 mb-4" id={product.Asin}>
        <a
          href={`${amzUrl}/${product.Asin}?tag=${config.site.aws_Tagid}`}
          target="_blank"
          rel="nofollow noreferrer sponsored"
          class="text-lg font-semibold text-center mt-2"
        >
          {product.Name}
        </a>
        <a
          href={`${amzUrl}/${product.Asin}?tag=${config.site.aws_Tagid}`}
          target="_blank"
          rel="nofollow noreferrer sponsored"
          class="block w-full md:w-auto !mt-0"
        >
          <Image
            src={product.Image.replace('.jpg', `${newSuffix460}.jpg`)}
            width="300"
            alt={product.Name}
            class="mb-3 w-500 h-auto rounded-lg object-cover mx-auto"
            style="margin-bottom: 0;"
            loading="lazy"
            decoding="async"
          />
        </a>
        <div class="whitespace-nowrap md:flex-none grow text-center">
          <Button
            rel="nofollow noreferrer sponsored"
            variants="btn-secondary"
            class="md:w-auto w-full bg-[#FF9900] hover:bg-[#cc7a00] text-gray-900 font-bold p-2 text-xs leading-none no-underline"
            icon="tabler:shopping-bag"
            href={`${amzUrl}/${product.Asin}?tag=${config.site.aws_Tagid}`}
            text="Shop on Amazon"
          />
        </div>
        <div class="flex flex-col md:flex-row justify-between space-y-2 md:space-y-0">
          <div class="md:w-1/2 mx-2">
            <h4 class="bg-green-700 text-white p-1 rounded !mt-2">PROS</h4>
            <ul>
              {product.Pros.map((pros) => (
                <li class="text-sm" key={pros}>
                  {pros}
                </li>
              ))}
            </ul>
          </div>
          <div class="md:w-1/2 mx-2">
            <h4 class="bg-red-800 text-white p-1 rounded !mt-2">CONS</h4>
            <ul>
              {product.Cons.map((con) => (
                <li class="text-sm" key={con}>
                  {con}
                </li>
              ))}
            </ul>
          </div>
        </div>
        <div class="md:w-full mx-2 !mt-0">
          <div class="text-sm !mt-0 suojin2" set:html={product.Review}></div>
        </div>
      </div>
    ))
  }
</div>
<div class="summary">
  <p class="!mt-0 text-xl suojin2 lg:prose-xl prose-xl prose">{products.Summary}</p>
</div>
<div itemscope itemtype="https://schema.org/FAQPage" class="max-w-3xl mx-auto mt-8">
  <h3 class="text-xl font-semibold mb-4">Frequently Asked Questions</h3>
  {
    products.qa.map((faq, index) => (
      <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question" key={index} class="mb-4">
        <h5 itemprop="name" class="font-bold text-lg mb-2">
          {faq.q}
        </h5>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
          <p itemprop="text">{faq.a}</p>
        </div>
      </div>
    ))
  }
</div>
